* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}
body {
	background-color: #ffffff;
}
/* ----------- Cover Section Style ------------ */
.cover-section {
	width: 100%;
	background: #2d25a0;
}
.title {
	font-weight: bold;
	font-size: 64px;
	color: #ffffff;
	margin-bottom: 27px;
}
.watching-live-button {
	padding: 10px 24px;
	text-decoration: none;
	background-color: #e02c6d;
	font-size: 16px;
	font-weight: 500px;
	color: #ffffff;
}
.watching-live-button:hover {
	background: linear-gradient(
		90deg,
		rgba(215, 46, 107, 1) 11%,
		rgba(215, 46, 107, 1) 48%,
		rgba(217, 91, 100, 1) 80%
	);
box-shadow:  5px 5px 22px #211b75,
             -5px -5px 22px #392fcb;
}
.banner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 82px 10%;
}
.banner-title {
	align-self: center;
}
.banner-photo {
	width: 100%;
}
.arrow-forward {
	margin-left: 8px;
}
/* -----------------Player section style------------------- */
.player-section {
	/* margin: 3.4375em 11.25em; */
	margin: 2% 12%;
}
.player-list {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}
.player {
	max-width: 320px;
	height: 450px;
	margin: 15px;
	padding: 15px;
	background: #ffffff;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
}
.player-photo {
	width: 100%;
	border-radius: 10px;
}
/* ---------------highlight summary style sheet---------------- */
.highlight-summary {
	margin: 0 5%;
}
.previous-matchsummary {
	width: 99.9%;
	display: flex;
	height: 200px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
}
.summary-title {
	margin-right: 20px;
	padding-left: 10px;
}
.match {
	border: 2px solid rgba(182, 168, 168, 0.326);
	border-radius: 10px;
	width: 300px;
	height: 180px;
	padding: 0px 5px;
	margin: 5px;
	display: flex;
	flex-basis: 25%;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-around;
	align-items: center;
}
.club-logo {
	width: 23%;
}
.match-result {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* -----------------highlight video privew section---------------- */
.highlight-section {
	padding: 5%;
}
.highlight-title {
	color: black;
}
.highlight-description {
	padding-right: 3%;
}
.highlight-details {
	margin: 25px 0;
}
.highlight-match-photo {
	width: 100%;
	padding: 0;
}
.highlight-link-button:hover{
box-shadow:  7px 7px 14px #d9d9d9,
             -7px -7px 14px #e7e7e7;

}
/* ------------------Footer Style------------------ */
.logo-social-media-copyright-section {
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo {
	width: 25%;
}
.icon:hover{
	color: #e02c6d;
	cursor: pointer;
}
.icon {
	padding: 5px;
}
#copyright {
	font-size: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.598);
	padding: 10px;
}
/* ---------------------Media query fo large phone---------------- */
@media (max-width: 48em) {
	.banner {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		padding: 61px 15px;
	}
	.title {
		font-size: 36px;
	}
	.banner-photo {
		margin-top: 50px;
		width: 100%;
		/* padding: 2%; */
	}
	.player-section {
		/* margin: 3.4375em 11.25em; */
		margin: 47px 0.9765625vw;
	}
	.match {
		width: 90%;
		justify-content: space-around;
		height: 180px;
	}

	.highlight-description {
		padding-right: 0;
	}
	/* ------------previous match report------------- */
	.previous-matchsummary {
		flex-direction: column;
		height: fit-content;
	}
}
/* ---------------------------end------------------------------- */
/* -------------------------Media Query fo tablet------------------------- */
@media (max-width: 62em) {
	.title {
		font-size: 36px;
	}
	.player-section {
		/* margin: 3.4375em 11.25em; */
		margin: 47px 0.9765625vw;
	}
	.player {
		max-width: 300px;
		height: 474px;
	}
	/* ------------previous match report------------- */
	.previous-matchsummary {
		flex-direction: column;
		height: fit-content;
	}
	.match {
		width: 90%;
		justify-content: space-around;
		height: 180px;
	}
	.summary-title {
		width: 100%;
		margin-left: 12%;
	}
}
/* ------------------------------end------------------------------------ */
