* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}
body {
	background-color: #ffffff;
}
/* ----------- Cover Section Style ------------ */
.cover-section {
	width: 100%;
	/* height: 677px; */
	background: #2d25a0;
}
.title {
	font-weight: bold;
	font-size: 64px;
	color: #ffffff;
	margin-bottom: 27px;
}
.watching-live-button {
	padding: 10px 24px;
	text-decoration: none;
	background: #080808;
	font-size: 16px;
	font-weight: 500px;
	color: #ffffff;
}
.banner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 82px 10%;
}
.banner-title {
	margin-top: 20%;
}
.banner-photo {
	width: 100%;
	padding: 2%;
}
.arrow-forward {
	margin-left: 8px;
}
/* -----------------Player section style------------------- */
.player-section {
}
.player-list {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	margin: 55px 180px;
}
.player {
	width: 330px;
	max-height: 474px;
	margin: 15px;
	padding: 15px;
	background: #ffffff;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
}
.player-photo {
	width: 100%;
	border-radius: 10px;
}
/* ---------------highlight summary style sheet---------------- */
.highlight-description {
	padding-right: 35%;
}
.highlight-details {
	margin: 10% 0;
}
.highlight-match-photo {
	width: 100%;
	padding: 0;
}
/* ------------------Footer Style------------------ */
.logo-social-media-copyright-section {
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo {
	width: 25%;
}
#social-media-icon {
	color: #e02c6d;
}
.icon {
	padding: 5px;
}
#copyright {
	font-size: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.598);
	padding: 10px;
}
